$body-bg: #fff;
$body-color: #ccc;
$white: #fff;
$black: #000;
$darkGrey: #222222;
$primary: #f2c94c;
$csgmRed: #c91f1f;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
